* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1a2d;
  font-family: 'Outfit', sans-serif;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.nft-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.nft-card {
  background-color: #14253d;
  border-radius: 15px;
  overflow: hidden;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  transition: transform 3s ease;
}


.nft-card__image {
  width: 100%;
  height: 50%;
  display: block;
}

.nft-card__content {
  padding: 20px;
}

.nft-card__title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.nft-card__description {
  font-size: 14px;
  color: #ada0f5;
  margin: 20px;
}

.nft-card__details {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px;
}

.nft-card__price {
  color: #4dc7bd;
  font-weight: bold;
}

.nft-card__time {
  color: #ffffff;
}

.nft-card__creator {
  display: flex;
  align-items: center;
  border-top: 3px solid #314868;
  padding-top: 15px;
}

.nft-card__avatar {
  width: 50px;
  height: 50px;
  border-radius: 500%;
  margin-right: 10px;
}

@keyframes pulseHover {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

.nft-card {
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.nft-card:hover {
  transform: rotateY(50deg);
  cursor: pointer;
}


